In [16]:
expenses = [
    {"category": "Vacation", "amount": 22500},
    {"category": "Transport", "amount": 12200},
    {"category": "Medical", "amount": 13000},
    {"category": "Food", "amount": 13500},
    {"category": "Rent", "amount": 48000}
]

In [17]:
total_expense = 0
for item in expenses:
    total_expense += item["amount"]
print("Total expense:", total_expense)

Total expense: 109200

In [18]:
category_wise = {}
for item in expenses:
    category = item["category"]
    amount = item["amount"]
    if category in category_wise:
        category_wise[category] += amount
    else:
        category_wise[category] = amount
print("Category wise expense:", category_wise)

Category wise expense: {'Vacation': 22500, 'Transport': 12200, 'Medical': 13000, 'Food': 13500, 'Rent': 48000}

In [19]:
income = 7000
savings = income - total_expense
if savings > 0:
    print("You have saved:", savings, "টাকা")
elif savings == 0:
    print("You have broken even! No savings, no loss.")
else:
    print("You have a loss of:", abs(savings), "টাকা")

You have a loss of: 102200 টাকা

In [20]:
highest_category = None
highest_amount = 0
for category, amount in category_wise.items():
    if amount > highest_amount:
        highest_amount = amount
        highest_category = category
print("সবচেয়ে বেশি খরচ হয়েছে:", highest_category, "-", highest_amount, "টাকা")

সবচেয়ে বেশি খরচ হয়েছে: Rent - 48000 টাকা