## ğ“ğğ¬ğ­ ğ‘ğ®ğ§ ğ‚ğ¨ğğ

In [2]:
ğ’‘ğ’“ğ’Šğ’ğ’•("ğ‘¯ğ’†ğ’ğ’ğ’ ğ‘ºğ’•ğ’–ğ’…ğ’†ğ’ğ’•! ğŸ‘‹ ğ‘ºğ’–ğ’‘ğ’†ğ’“ğ’ğ’‚ğ’ ğ‘ºğ’†ğ’”ğ’”ğ’Šğ’ğ’ ğ‘·ğ’“ğ’ğ’‹ğ’†ğ’„ğ’• 1 à¦¶à§à¦°à§ à¦¹à¦²à§‹")

ğ‘¯ğ’†ğ’ğ’ğ’ ğ‘ºğ’•ğ’–ğ’…ğ’†ğ’ğ’•! ğŸ‘‹ ğ‘ºğ’–ğ’‘ğ’†ğ’“ğ’ğ’‚ğ’ ğ‘ºğ’†ğ’”ğ’”ğ’Šğ’ğ’ ğ‘·ğ’“ğ’ğ’‹ğ’†ğ’„ğ’• 1 à¦¶à§à¦°à§ à¦¹à¦²à§‹

# ğğ®ğ­ğ­ğ¢ğ§ğ  ğ¬ğ¢ğ§ğ ğ¥ğ ğƒğšğ­ğš ğ¨ğŸ ğš ğ’ğ­ğ®ğğğ§ğ­ (ğƒğ¢ğœğ­ğ¢ğ¨ğ§ğšğ«ğ²)bold text

In [3]:
student = {
    "name": "Nijum",
    "math": 90,
    "eng": 80,
    "science": 92
}
print(student)
print(student["name"])
print(student["math"])

{'name': 'Nijum', 'math': 90, 'eng': 80, 'science': 92}
Nijum
90

# ğğ®ğ­ğ­ğ¢ğ§ğ  ğšğ¥ğ¥ ğ’ğ­ğ®ğğğ§ğ­ğ¬ ğƒğšğ­ğš ğ“ğ¨ğ ğğ­ğ¡ğğ« (ğ‹ğ¢ğ¬ğ­ ğ¨ğŸ ğƒğ¢ğœğ­ğ¢ğ¨ğ§ğšğ«ğ¢ğğ¬)

In [4]:
students = [
    {"name": "Nijum", "math": 85, "eng": 78, "science": 92},
    {"name": "Durjoy", "math": 90, "eng": 80, "science": 80},
    {"name": "Anik",  "math": 60, "eng": 40, "science": 75}
]
print("Total students:", len(students))
print(students)

Total students: 3
[{'name': 'Nijum', 'math': 85, 'eng': 78, 'science': 92}, {'name': 'Durjoy', 'math': 90, 'eng': 80, 'science': 80}, {'name': 'Anik', 'math': 60, 'eng': 40, 'science': 75}]

# ğ‹ğğ­'ğ¬ ğŸğ¢ğ ğ®ğ«ğ ğ¨ğ®ğ­ ğ“ğ¨ğ­ğšğ¥ ğŒğšğ«ğ¤ğ¬ ğ¨ğŸ ğğšğœğ¡ ğ¬ğ­ğ®ğğğ§ğ­ğ¬

In [5]:
for s in students:
    s["total"] = s["math"] + s["eng"] + s["science"]

# check if total is added
for s in students:
    print(s["name"], "â†’ total:", s["total"])

Nijum â†’ total: 255
Durjoy â†’ total: 250
Anik â†’ total: 175

# ğğ¨ğ° ğ‹ğğ­ğ¬ ğ…ğ¢ğ§ğ ğğ®ğ­ ğ“ğ¡ğ ğ“ğ¨ğ©ğ©ğğ« (ğ‡ğ¢ğ ğ¡ğğ¬ğ­ ğ­ğ¨ğ­ğšğ¥)

In [6]:
highest = -1     # à¦¶à§à¦°à§à¦¤à§‡ à¦–à§à¦¬ à¦›à§‹à¦Ÿ à¦®à¦¾à¦¨
topper_name = ""
for s in students:
    if s["total"] > highest:
        highest = s["total"]
        topper_name = s["name"]
print("Topper:", topper_name, "with", highest, "marks")

Topper: Nijum with 255 marks

# ğ‹ğğ­'ğ¬ ğğ«ğ¢ğ§ğ­ ğğ®ğ­ ğ­ğ¡ğ ğ«ğğšğ¥ ğ‘ğğ©ğ¨ğ«ğ­ ğ‚ğšğ«ğ â™¦ï¸

In [7]:
for s in students:
    print("----- Report Card -----")
    print("Name   :", s["name"])
    print("Math   :", s["math"])
    print("English:", s["eng"])
    print("Science:", s["science"])
    print("Total  :", s["total"])
    print("-----------------------")
print("\nOverall Topper â†’", topper_name, "with", highest)

----- Report Card -----
Name   : Nijum
Math   : 85
English: 78
Science: 92
Total  : 255
-----------------------
----- Report Card -----
Name   : Durjoy
Math   : 90
English: 80
Science: 80
Total  : 250
-----------------------
----- Report Card -----
Name   : Anik
Math   : 60
English: 40
Science: 75
Total  : 175
-----------------------

Overall Topper â†’ Nijum with 255